<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		.navbarDiv {
			width: 100%;
			background-color: #eee;
			width: 50px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			position: fixed;
		}

		.navHeadingDiv {
			width: 100%;
			display: grid;
			grid-template-columns: 80% 20%;
			padding: 10px;
		}

		.navFilterDiv {
			width: 100%;
			display: grid;
			grid-template-columns: 20% 20% 20% 20% 20%;
		}

		.navFilterDiv {
			padding: 10px;
		}

		.dropdownBtn {
			width: 200px;
			border: 1px solid black;
		}

		.filterSection {
			padding: 20px;
		}

		.filterSectionDiv {
			padding: 30px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.jobSection {
			padding: 20px;
		}

		.card {
			margin-bottom: 20px;
		}

		.jobsAnchor {
			text-decoration: none;
			color: black;
		}

		.jobsAnchor:hover {
			color: black;
		}
	</style>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="background-color: #e9ebf0;">
	<div>

		<div>
			<div class="container-fluid navbarDiv">
				<div class="container navHeadingDiv">
					<div class="navHeading">
						<a th:href="@{/}"><img
								src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpTFaf18osJm4jz-Bc-o_niu3N1peQoXLon2X9UUQYQZPcFqg79_jY_RReX8jBjkzMxac&usqp=CAU"
								style="width:50px;height: 50px;border-radius: 50%;" /></a><span
							style="font-size: 30px;font-weight: bold;margin-left: 5px;">HasJob</span><span
							style="font-size: 20px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;margin-left: 5px;">The
							Hasgeek Job Board</span>
					</div>
					<div class="navPost">
						<a th:href="@{/account/new}">
							<button class="btn btn-small"
								style="border: 1px solid gray;height:30px;padding:5px;background-color:purple;color: white;">Post
								a Job</button>
						</a>
						<a th:href="@{/loginpage}" sec:authorize="!isAuthenticated()">
							<button class="btn btn-small"
								style="border: 1px solid gray;height:30px;padding:5px;background-color:green;color: white;">Login</button>
						</a>

						<button class="btn " data-bs-toggle="dropdown" aria-expanded="false" role="button" sec:authorize="isAuthenticated()"
							style="width:40px;height:40px;"><i
								class="fa fa-user" aria-hidden="true"></i></button>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown" sec:authorize="isAuthenticated()">
							<li><a class="dropdown-item" th:href="@{/account}" th:text="${#authentication.name}"></a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<form th:action="@{/account/logout}" method="post"><button class="btn dropdown-item"
										type="submit">Logout</button></form>
							</li>
						</ul>
					</div>
				</div>
				<form th:action="@{/multifilter}" method="post" id="filterForm">
					<div class="container navFilterDiv">
						<div class="dropdown">
							<button class="btn dropdown-toggle dropdownBtn bg-light" style="border: 1px solid gray;"
								type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								Location
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li>
									<div th:each="location : ${locations}" style="padding: 10px;">
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:value="${location}" name="location" id="flexCheckDefault"
												th:checked="${filterLocation != null && filterLocation.contains(location)}">
											<label class="form-check-label" for="flexCheckDefault"
												th:text="${location}">

											</label>

										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="dropdown">
							<button class="btn dropdown-toggle dropdownBtn bg-light" style="border: 1px solid gray;"
								type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								Job Type
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li>
									<div style="padding:10px">
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterType != null && filterType.contains('Full-time employment')}"
												value="Full-time employment" name="t" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Full-time employment
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterType != null && filterType.contains('Short-term contract')}"
												value="Short-term contract" name="t" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Short-term contract
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterType != null && filterType.contains('Internship')}"
												value="Internship" name="t" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Internship
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox" name="t"
												th:checked="${filterType != null && filterType.contains('Freelance or consulting')}"
												value="Freelance or consulting" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Freelance or consulting
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox" name="t"
												th:checked="${filterType != null && filterType.contains('Volunteer contributor')}"
												value="Volunteer contributor" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Volunteer contributor
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox" name="t"
												th:checked="${filterType != null && filterType.contains('Partner for a venture')}"
												value="Partner for a venture" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Partner for a venture
											</label>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="dropdown">
							<button class="btn  dropdown-toggle dropdownBtn bg-light" style="border: 1px solid gray;"
								type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								Job Category
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li>
									<div style="padding:10px">
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterCategory != null && filterCategory.contains('Programming')}"
												value="Programming" name="c" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Programming
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterCategory != null && filterCategory.contains('Interaction Design')}"
												value="Interaction Design" name="c" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Interaction Design
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterCategory != null && filterCategory.contains('Graphic Design')}"
												value="Graphic Design" name="c" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Graphic Design
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterCategory != null && filterCategory.contains('Electronics')}"
												value="Electronics" name="c" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Electronics
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterCategory != null && filterCategory.contains('Information Security')}"
												value="Information Security" name="c" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Information Security
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox" name="c"
												th:checked="${filterCategory != null && filterCategory.contains('Testing/Quality Assurance')}"
												value="Testing/Quality Assurance" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Testing/Quality Assurance
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox" name="c"
												th:checked="${filterCategory != null && filterCategory.contains('IT/Systems Administration')}"
												value="IT/Systems Administration" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												IT/Systems Administration
											</label>
										</div>

										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterCategory != null && filterCategory.contains('Business/Management')}"
												value="Business/Management" name="c" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Business/Management
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterCategory != null && filterCategory.contains('Writer/Editor')}"
												value="Writer/Editor" name="c" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Writer/Editor
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox"
												th:checked="${filterCategory != null && filterCategory.contains('Customer Support')}"
												value="Customer Support" name="c" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Customer Support
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox" name="c"
												th:checked="${filterCategory != null && filterCategory.contains('Mobile (iPhone, Android, other)')}"
												value="Mobile (iPhone, Android, other)" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Mobile (iPhone, Android, other)
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterInput" type="checkbox" name="c"
												th:checked="${filterCategory != null && filterCategory.contains('Office Administration')}"
												value="Office Administration" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
												Office Administration
											</label>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="dropdown">
							<button class="btn dropdown-toggle dropdownBtn bg-light" style="border: 1px solid gray;"
								type="button" id="filterRangeButton" data-bs-toggle="dropdown" aria-expanded="false"
								th:text="${(filterPayRange == null || filterPayRange.equals('0')) ? 'Pay' : filterPayRange + ' per year'}">

							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li>
									<div style="padding: 10px; width:300px">
										<div class="form-check">
											<input class="form-check-input filterPay" type="radio" name="payType"
												value="Any"
												th:checked="${filterPayType != null && filterPayType.equals('Any')}"
												id="flexRadioDefault1">
											<label class="form-check-label" for="flexRadioDefault1">
												Any
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterPay" type="radio" name="payType"
												value="INR"
												th:checked="${filterPayType != null && filterPayType.equals('INR')}"
												id="flexRadioDefault1">
											<label class="form-check-label" for="flexRadioDefault1">
												INR
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterPay" type="radio" name="payType"
												value="USD"
												th:checked="${filterPayType != null && filterPayType.equals('USD')}"
												id="flexRadioDefault1">
											<label class="form-check-label" for="flexRadioDefault1">
												USD
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input filterPay" type="radio" name="payType"
												value="EUR"
												th:checked="${filterPayType != null && filterPayType.equals('EUR')}"
												id="flexRadioDefault1">
											<label class="form-check-label" for="flexRadioDefault1">
												EUR
											</label>
										</div>
										<input type="range" class="form-range" id="filterRange"
											th:value="${filterPayRange == null ? 0 : filterPayRange}" min="0"
											max="1000000" name="payRange">
									</div>

								</li>

							</ul>
						</div>
						<div class="searchBtn">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
								name="searchText" th:value="${filterSearchText != null ? filterSearchText : ''}"
								id="filterSearch">
						</div>
					</div>
				</form>
			</div>
		</div>


	</div>
	<div class="container" style="position: absolute;top: 140px; margin-left: 14%;z-index: -1;">
		<div class="container-fluid filterSection">
			<div class="container filterSectionDiv" style="background-color: white;">
				<p>In India? Filter this view:</p>
				<button class="btn btn-sm"
					style="border:1px solid gray;padding-left:5px;padding-right:5px">India(country)</button>
				<button class="btn btn-sm"
					style="border:1px solid gray;padding-left:5px;padding-right:5px">Asia(continent)</button>
				<button class="btn btn-sm"
					style="border:1px solid gray;padding-left:5px;padding-right:5px">Anywhere</button>
			</div>
		</div>
		<div class="container-fluid jobSection">
			<div class="container jobDiv">
				<div class="row">
					<div class="col-md-3" th:if="${organizations != null}"
						th:each="organization, iterStat: ${organizations}">
						<!-- Add a card for each organization -->
						<a th:href="@{'/job/'+ ${organization.getJobs().get(0).id}}"
							th:if="${organization.getJobs().size() == 1}" class="jobsAnchor">
							<div class="card mb-3" style="width: 18rem;background-color: #ebcf34;">
								<div class="card-body">
									<div style="display: grid;grid-template-columns: 30% 70%;">
										<div style="overflow: hidden;">
											<span class="card-title"
												th:text="${organization.getJobs().get(0).location}"></span>
										</div>
										<div style="overflow: hidden;">
											<span
												th:text="'| Opened at- ' + ${#dates.format(organization.getJobs().get(0).openedAt, 'yyyy-MM-dd')}"></span>
										</div>
									</div>
									<p class="card-text" th:text="${organization.getJobs().get(0).headline}"></p>
									<div style="float: right;">
										<p th:text="${organization.name}"></p>
									</div>

								</div>
							</div>
						</a>

						<form th:action="@{/multifilter}" id="orgForm" method="post"
							th:if="${organization.getJobs().size() > 1}" class="jobsAnchor">
							<input type="hidden" name="searchText" th:value="${organization.name}" />
							<input type="hidden" class="form-range" id="filterRange"
											th:value="${filterPayRange == null ? 0 : filterPayRange}" min="0"
											max="1000000" name="payRange">
							<div>
								<div style="width: 18rem;position: absolute">
									<div class="card"
										style="position: relative;right:10px;top:-10px;background-color: #ebcf34;">
										<div class="card-body">
											<div style="display: grid;grid-template-columns: 30% 70%;">
												<div style="overflow: hidden;">
													<span class="card-title"
														th:text="${organization.getJobs().get(0).location}"></span>
												</div>
												<div style="overflow: hidden;">
													<span
														th:text="'| Opened at- ' + ${#dates.format(organization.getJobs().get(0).openedAt, 'yyyy-MM-dd')}"></span>
												</div>
											</div>
											<p class="card-text" th:text="${organization.getJobs().get(0).headline}">
											</p>
											<div style="float: right;">
												<p th:text="${organization.name}"></p>
											</div>
										</div>
									</div>
								</div>
								<div class="card" style="width: 18rem;background-color: #ebcf34;">
									<div class="card-body">
										<div style="display: grid;grid-template-columns: 30% 70%;">
											<div style="overflow: hidden;">
												<span class="card-title"
													th:text="${organization.getJobs().get(0).location}"></span>
											</div>
											<div style="overflow: hidden;">
												<span
													th:text="'| Opened at- ' + ${#dates.format(organization.getJobs().get(0).openedAt, 'yyyy-MM-dd')}"></span>
											</div>
										</div>
										<p class="card-text" th:text="${organization.getJobs().get(0).headline}"></p>
										<div style="float: right;">
											<p th:text="${organization.name}"></p>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!-- Check if the current iteration is a multiple of 4 to start a new row -->
						<div th:if="${iterStat.count % 4 == 0}" class="w-100"></div>
					</div>
					<div class="col-md-3" th:if="${filterJobs != null}" th:each="job, iterStat: ${filterJobs}">
						<!-- Add a card for each organization -->
						<a th:href="@{'/job/'+ ${job.id}}" class="jobsAnchor">
							<div class="card mb-3" style="width: 18rem;background-color: #ebcf34;">
								<div class="card-body">
									<div style="display: grid;grid-template-columns: 30% 70%;">
										<div style="overflow: hidden;">
											<span class="card-title" th:text="${job.location}"></span>
										</div>
										<div style="overflow: hidden;">
											<span
												th:text="'| Opened at- ' + ${#dates.format(job.openedAt, 'yyyy-MM-dd')}"></span>
										</div>
									</div>
									<p class="card-text" th:text="${job.headline}"></p>
									<div style="float: right;">
										<p th:text="${job.getOrganization().name}"></p>
									</div>
								</div>
							</div>
						</a>
						<!-- Check if the current iteration is a multiple of 4 to start a new row -->
						<div th:if="${iterStat.count % 4 == 0}" class="w-100"></div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script>
		let filterInputs = document.getElementsByClassName("filterInput");
		let filterPayInputs = document.getElementsByClassName("filterPay");
		let filterRangeInput = document.getElementById("filterRange");
		let filterRangeButton = document.getElementById("filterRangeButton");
		let filterSearchInput = document.getElementById("filterSearch");
		let orgForm = document.getElementById("orgForm");
		let timer;
		for (let i = 0; i < filterInputs.length; i++) {
			filterInputs[i].addEventListener('click', () => {
				let myform = document.getElementById("filterForm");
				myform.submit();
			});
		}

		for (let i = 0; i < filterPayInputs.length; i++) {
			filterPayInputs[i].addEventListener('click', () => {
				let myform = document.getElementById("filterForm");
				myform.submit();
			});
		}

		filterRangeInput.addEventListener('change', () => {
			let myform = document.getElementById("filterForm");
			myform.submit();
		})

		filterRangeInput.addEventListener('input', () => {
			filterRangeButton.innerHTML = filterRangeInput.value;
		})

		filterSearchInput.addEventListener('input', () => {
			clearTimeout(timer);

			timer = setTimeout(function () {
				let myform = document.getElementById("filterForm");
				myform.submit();
			}, 700);
		})

orgForm.addEventListener('click',()=>{
	let filterForm = document.getElementById("orgForm");
	filterForm.submit();
})

	</script>
</body>

</html>