<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid">
		<div class="container card" style="width:400px;margin-top: 30px;">
			<div class="card-header">
				Login Here
			</div>
			<div class="card-body">
				<form th:action="@{/dummyaction}" method="post" id="myForm">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Username</label>
						<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
							placeholder="Enter username" name="username">
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Email</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
							placeholder="Enter email to get an OTP" name="email">
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" name="password"
							placeholder="Enter password">
					</div>
					<div class="text-center">
						<p  style="font-size: 18px;font-weight: bold;color: limegreen;" >
							Have no account get OTP !
						</p>
						<button class="btn btn-primary" id="otpBtn" style="width: 100%;">Get OTP</button>
					</div>
					<div class="text-center" style="margin-top: 10px;">
						<a data-bs-toggle="collapse" style="font-size: 18px;color: limegreen;cursor: pointer;" href="#collapseExample" role="button"
							aria-expanded="false" aria-controls="collapseExample">
							Already have an account login !
						</a>
						<div class="collapse" id="collapseExample" style="border: none;">
							<div class="card card-body" style="border: none;">
								<button class="btn btn-primary" id="loginBtn">Login</button>
							</div>
						</div>
					</div>

				</form>
			</div>

		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script>
		document.getElementById("otpBtn").addEventListener("click", function () {
			let form = document.getElementById("myForm");
			form.action = "/sendotp";
			form.submit();
		});

		document.getElementById("loginBtn").addEventListener("click", function () {
			let form = document.getElementById("myForm");
			form.action = "/directlogin";
			form.submit();
		});


	</script>
</body>

</html>